<div>Hello world ! </div>

<% @messages.each do |message| %>
  <div class="message">
    <div class="message-author"><%= message.user.email %>  </div>
    <div class="message-content"> <%= message.content %> </div>
  </div>
<% end %>